# This file is only used for requirements of the documentation site
# please do not use this requirements file for other installations
mkdocs
mike
mkdocstrings[python]
mkdocs-material
mkdocs-material-extensions
mkdocs-table-reader-plugin